/* some default styles to make the view more native like */
html {
  width: 100%;
  height: 100%;
  border: 0 !important;
  box-sizing: border-box;
  background: transparent;

  /* prevent scrolling */
  overflow: hidden;

  /* force the default cursor */
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* prever the content from being selectable */
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

a,
textarea,
select,
input,
button {
  outline: none;
}

/* layout base */
body {
  width: 100%;
  height: 100%;
  background: transparent;

  /* force the drag cursor */
  cursor: grab;
}

svg {
  display: block;
  width: 100%;
}

.actions {
  width: 100%;
  height: 100%;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  .actions {
    background: #141517;
  }
}

.actions ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.actions ul li.action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.actions ul li.action-close {
  width: 46px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  .actions ul li.action-close {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.actions li a {
  display: block;
  padding: 3px;
  width: 16px;
  cursor: pointer;
}

.actions li.action-annotate a {
  display: block;
  width: 28px; /* 22px icon */
}

.actions li.action-bind a {
  display: block;
  margin-right: 13px;
  width: 28px; /* 22px icon */
}

.actions li.action-measure a {
  display: block;
  margin-left: 3px;
  width: 25px; /* 19px icon */
}

/* buttons */

.actions ul li a .text {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}

.actions a .icon {
  display: block;
  width: 100%;
}

.actions a .icon svg.icons-bind rect {
  fill: rgba(255, 102, 85, 0.3);
}

svg path,
svg polygon {
  fill: rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
  .actions a .icon svg.icons-bind rect {
    fill: rgba(255, 102, 85, 0.2);
  }

  svg path,
  svg polygon {
    fill: rgba(255, 255, 255, 0.7);
  }
}

@media (hover: hover) {
  a:hover svg path,
  a:hover svg polygon {
    fill: rgba(0, 0, 0, 0.9);
  }
}

@media (prefers-color-scheme: dark) and (hover: hover) {
  a:hover svg path,
  a:hover svg polygon {
    fill: rgba(255, 255, 255, 0.9);
  }
}

/* dev mode
   add `.dev-mode` to the `body` to enable */

body.dev-mode {
  border: 1px solid red;
}

.dev-mode .actions {
  background: pink;
}

.dev-mode .actions ul li.action-close {
  border-right: 1px solid red;
}

.dev-mode .actions ul li a {
  background-color: yellow;
}
