/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* prevent scrolling */
  overflow: hidden;

  /* force the default cursor, even on text */
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* prever the content from being selectable */
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea,
select,
input,
button {
  outline: none;
}

.icon-holder {
  display: block;
  width: 20px;
}

svg {
  display: block;
  width: 100%;
}

svg path,
svg polygon {
  fill: magenta;
}
