/* some default styles to make the view more native like */
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;

  /* prevent scrolling */
  overflow: hidden;

  /* force the default cursor, even on text */
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* prever the content from being selectable */
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea,
select,
input,
button {
  outline: none;
}

/* layout base */
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1pt solid red;
}

svg {
  display: block;
  width: 100%;
}

.actions {
  width: 100%;
  height: 100%;
  background: pink;
}

.actions ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.actions ul li.action {
  display: flex;
  align-items: center;
  height: 100%;
}

.actions ul li.action-close {
  border-right: 1pt solid red;
}

.actions li a {
  display: block;
  width: 16px;
}

.actions li.action-label a {
  display: block;
  width: 21px;
}

.actions li.action-measure a {
  display: block;
  width: 19px;
}

/* buttons */

.actions ul li a .text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.actions a .icon {
  display: block;
  width: 100%;
}

svg path,
svg polygon {
  fill: magenta;
}
